<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="/WebComponents/Ico/favicon.ico">
    <link rel="stylesheet" href="/WebComponents/Templates/inputs.css">
    <script type="text/javascript" src="/WebComponents/Templates/tools.js"></script>
    <title>Create Wiki</title>

    <!-- HTMX INSTALL -->
    <script src="https://unpkg.com/htmx.org@1.9.4"></script>

  </head>
  <body>
    <h1>List of Wikis</h1>
    <a href="/new/"><button>Create</button></a>
    <ul>
      <!-- create a list of <li><a></a></li> -->
    </ul>
  </body>
</html>
